.cookie-banner-wrapper .cookie-banner-bg{position:fixed;top:0;left:0;bottom:0;right:0;z-index:1040}.cookie-banner-wrapper .cookie-banner{padding:24px;position:fixed;bottom:0;z-index:1050}.light-theme .cookie-banner-wrapper .cookie-banner{background-color:#fff}.dark-theme .cookie-banner-wrapper .cookie-banner{background-color:#393b3d}.cookie-banner-wrapper .cookie-button-container{text-align:right;margin-top:16px}.cookie-banner-wrapper .cookie-button-container .cookie-btn{margin:6px}
/*
     FILE ARCHIVED ON 18:44:22 Aug 08, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:04:18 Sep 25, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.431
  load_resource: 351.087 (2)
  PetaboxLoader3.resolve: 284.382 (2)
  PetaboxLoader3.datanode: 35.117 (2)
*/