.account-recovery-modal-title-container{position:relative;height:28px}.account-recovery-modal-body-text{margin:12px 0;padding-bottom:24px}.account-recovery-no-button-container,.account-recovery-yes-button-container{margin:12px 0}.account-recovery-modal{min-width:543px}@media (max-width:543px){.account-recovery-modal{padding:0}}.account-recovery-modal .modal-dialog{overflow:auto;padding:0}.account-recovery-modal .modal-dialog .modal-content{border-radius:8px}.account-recovery-modal .modal-dialog .modal-content .modal-header{height:48px}.account-recovery-modal .modal-dialog .modal-content .modal-body{text-align:center}
/*
     FILE ARCHIVED ON 00:48:42 Jun 25, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:41:05 Sep 26, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.388
  load_resource: 191.841 (2)
  PetaboxLoader3.resolve: 169.126 (2)
  PetaboxLoader3.datanode: 19.351 (2)
*/