.search-dropdown .search-results-dropdown-menu .search-result-loading{height:52px}.search-dropdown .search-results-dropdown-menu .search-result-loading .spinner{height:52px;margin:0 auto}.search-dropdown .search-results-dropdown-menu .search-result .search-result-format{display:inline-flex;align-items:center;width:100%}.search-dropdown .search-results-dropdown-menu .search-result .search-result-format .search-result-icon{flex-shrink:0}.search-dropdown .search-results-dropdown-menu .search-result .search-result-format .search-result-icon .thumbnail-2d-container{width:32px;height:32px}.search-dropdown .search-results-dropdown-menu .search-result .search-result-format .search-result-icon .thumbnail-2d-container[class*=icon]{position:relative;float:left;right:0;top:0}.search-dropdown .search-results-dropdown-menu .search-result .search-result-format .search-result-name{margin-left:12px}
/*
     FILE ARCHIVED ON 20:26:23 Aug 29, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:59:58 Sep 26, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.293
  load_resource: 66.956
  PetaboxLoader3.resolve: 44.773
  PetaboxLoader3.datanode: 20.21
*/