.captcha-core-container{text-align:center;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.captcha-core-error{display:none}
/*
     FILE ARCHIVED ON 11:04:12 Sep 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:57:43 Sep 26, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.35
  load_resource: 16.842
  PetaboxLoader3.datanode: 15.826
*/