.configure-webapps-container{position:fixed;top:100px;right:12px;z-index:100000;width:320px;height:160px;box-shadow:0 1px 6px rgba(32,33,36,.28);border-color:rgba(223,225,229,0);border-radius:10%;padding:12px 9px}.configure-webapps-container.minimized{width:15px;height:12px;border-color:transparent;padding:2px}.configure-webapps-container .minimize-control{float:right;border:0;outline:0 none}.configure-webapps-container .input-field{border-radius:8px;height:24px;margin:6px auto}
/*
     FILE ARCHIVED ON 20:27:22 Aug 04, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:06:45 Sep 25, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.372
  load_resource: 3091.565 (3)
  PetaboxLoader3.resolve: 2704.22 (4)
  PetaboxLoader3.datanode: 493.353 (10)
  captures_list: 0.491
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.06
  esindex: 0.007
  cdx.remote: 8.071
  LoadShardBlock: 156.731 (6)
*/