.account-recovery-modal-title-container{position:relative;height:28px}.account-recovery-modal-body-text{margin:12px 0;padding-bottom:24px}.account-recovery-no-button-container,.account-recovery-yes-button-container{margin:12px 0}.account-recovery-modal{min-width:543px}@media (max-width:543px){.account-recovery-modal{padding:0}}.account-recovery-modal .modal-dialog{overflow:auto;padding:0}.account-recovery-modal .modal-dialog .modal-content{border-radius:8px}.account-recovery-modal .modal-dialog .modal-content .modal-header{height:48px}.account-recovery-modal .modal-dialog .modal-content .modal-body{text-align:center}
/*
     FILE ARCHIVED ON 22:12:12 Aug 04, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:06:43 Sep 25, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 5.166
  load_resource: 91.37 (2)
  PetaboxLoader3.datanode: 26.757 (2)
  PetaboxLoader3.resolve: 61.335
*/