.user-tag-header .user-tag-controller{background-size:44px auto;width:22px;height:22px;background-position:0 -66px}.change-alias-feedback-container .text-description{width:90%;width:calc(100% - 40px);float:left}.change-alias-feedback-container .count-down{float:right}
/*
     FILE ARCHIVED ON 00:05:43 Aug 05, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:06:42 Sep 25, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.3
  load_resource: 50.82
  PetaboxLoader3.resolve: 33.234
  PetaboxLoader3.datanode: 14.579
*/