#profile-current-wearing-avatar .thumbnail-holder{width:100%;height:100%}#profile-current-wearing-avatar .thumbnail-2d-container{width:100%;height:100%;text-align:center;background-color:transparent;padding-top:0;background-size:300px;background-position:50%}#profile-current-wearing-avatar .profile-accoutrements-container .profile-accoutrements-slider .accoutrement-item a{width:100px;height:100px}#profile-current-wearing-avatar .profile-accoutrements-container .profile-accoutrements-slider .accoutrement-item a .thumbnail-2d-container{background-size:100%;border-radius:8px}#profile-current-wearing-avatar .profile-accoutrements-container .profile-accoutrements-slider .accoutrement-item a .asset-restriction-icon{bottom:8px;left:2px}
/*
     FILE ARCHIVED ON 21:38:39 Aug 04, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:06:43 Sep 25, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.495
  load_resource: 321.968 (2)
  PetaboxLoader3.resolve: 117.151 (2)
  PetaboxLoader3.datanode: 201.496 (2)
*/